@import "../../assets/variables";
.footer {
  position: absolute;
  bottom: 0px;
  height: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;

  &-title {
    p {
      font-size: 0.9rem;
      color: $gray-light;
    }
  }

  &-logos {
    .logo {
      color: $gray-dark;
      font-size: 1.5rem;
      margin: 10px;
    }
    .apple,
    .gp {
      font-size: 12px;
      display: flex;
    }
    display: flex;
  }
}
